#exo3 label{
  color: blue;
}

#exo3 input[type="text"] {
  font-size: 20px;
}

.email-container {
  position: relative;
}

.email-tooltype {
  position: absolute;
  right:0px;
}


.wrapper {
  padding-bottom: 282px;
  padding-top:100px;
}
